{{!-- Cat Item Card --}}
<div class="column">
    <div class="card">
        <div class="card-image">
            <a href="/catitem/{{id}}">
            <figure class="image is-square">
            <img class="has-ratio" src="images/{{filename}}" alt="{{description}}">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content catItem-details">
                    <p class="title is-size-5">Item: {{title}}</p>
                    <p class="subtitle is-size-7">Description: {{description}}</p>
                    <p class="subtitle is-size-6"><strong>$ {{price}}</strong></p>
                </div>
            </div>
            </a>  
        </div>
    </div>
</div>