<div class="card-image">
    <a href="/dogitem/{{id}}">
        <figure class="image is-square">
        <img src="images/{{filename}}" alt="{{description}}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content catItem-details">
                <p class="title is-4">Item: {{title}}</p>
                <p class="subtitle is-6">Description: {{description}}</p>
                <p class="subtitle is-6">$ {{price}}</p>
            </div>
        </div>
        </a>
    </div>