
{{!-- Render Card Item --}}
<div class="card column is-one-fifth">
    <div class="card-image">
        <figure class="image is-square">
        <img src="/images/{{catitem.filename}}" alt="{{catitem.description}}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content catItem-details">
                <p class="title is-4">Item: {{catitem.title}}</p>
                <p class="subtitle is-6">Description: {{catitem.description}}</p>
                <p class="subtitle is-6">$ {{catitem.price}}</p>
            </div>
        </div>
    </div>
</div>